<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
      <bindings>
        <webHttpBinding>
          <binding name="webHttpBindingWithJsonP"
                   crossDomainScriptAccessEnabled="true" />
        </webHttpBinding>
      </bindings>
      <services>
        <service name="Services.LeadersService" behaviorConfiguration="MyServiceBehavior">
          <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webEndPointBehavior" bindingConfiguration="webHttpBindingWithJsonP" contract="Services.ILeadersService"/>
          <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MyServiceBehavior">
            <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
            <serviceMetadata httpGetEnabled="true"/>
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="webEndPointBehavior">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
      
        <!--<behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
    </system.serviceModel>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
